<!DOCTYPE html>
<html>
  <head>
    <title>Metrodeliveries || International Delivery & Logistics Services</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="International shipping, cargo delivery" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    		function hideURLbar(){ window.scrollTo(0,1); } </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  
    <%= render "shared/header" %>
    <%= yield %>
    <!-- footer -->
    	<div class="footer">
    		<div class="container">
    			<div class="agileits_w3layouts_footer_grids">
    				<div class="col-md-4 agileits_w3layouts_footer_grid">
    					<h3>Call Us Now</h3>
    					<ul>
    						<li><span>Office Phone :</span> (+123) 2302 232</li>
    						<li><span>Fax :</span> (+123) 123 456 455</li>
    					</ul>
    				</div>
    				<div class="col-md-4 agileits_w3layouts_footer_grid">
    					<h3>Address</h3>
    					<p>132 New Lenox, 868 1st Avenue <i>4th United States.</i></p>
    				</div>
    				<div class="col-md-4 agileits_w3layouts_footer_grid">
    					<h3>send a message</h3>
    					<ul>
    						<li><span>Email :</span> <a href="mailto:customersupport@metrodeliveries.co">customersupport@metrodeliveries.co</a></li>
    						<li><span>Enquiry :</span> <a href="mailto:info@metrodeliveries.co">info@metrodeliveries.co</a></li>
    					</ul>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    			<div class="w3_agileits_footer_grids">
    				<div class="col-md-4 w3_agileits_footer_grid">
    					<p>We are here to serve you better.</p>
    				</div>
    				<div class="col-md-4 w3_agileits_footer_grid">
    					<h3>Hours Work</h3>
    					<h4>Offices are opened</h4>
    					<ul>
    						<li><span>Mon - Fri : </span> 9:00 AM to 5:00PM</li>
    						<li><span>Sat : </span> 10:00 AM to 3:00PM</li>
    					</ul>
    				</div>
    				<div class="col-md-4 w3_agileits_footer_grid">
    					<h3>Subscribe Now</h3>
    					<form action="#" method="post">
    						<input type="email" name="Email" placeholder="Email" required="">
    						<input type="submit" value="Submit ">
    					</form>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    		</div>
    	</div>
    	<div class="wthree_copy_right copyright">
    		<div class="container">
    			<div class="copyrighttop">
    				<ul>
    					<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    					<li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    					<li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
    					<li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    				</ul>
    			</div>
    			<p>© 2015 Metro Services. All rights reserved | Developed by <a href="http://zonia.co/">Zonia Solutions</a></p>
    		</div>
    	</div>
    <!-- //footer -->
  </body>
</html>
